* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --spotify-green: #1DB954;
  --spotify-black: #191414;
  --spotify-black-bar: #181818;
  --spotify-grey: hsla(0, 0%, 100%, 0.7);
}